{%extends "base.html" %}

{% block content %}
    <h2 class="title">About Us</h2>
    <hr />
    <p class="disp-content">
        Our mission is to provide individuals like you with the tools, resources, and guidance needed to navigate the
        complexities of personal finance confidently. Whether you're tracking your daily expenses, categorizing them, setting
        budgets, planning for the future, or seeking investment opportunities, we're here to support you every step of the way.
        <br />
        What sets us apart is our commitment to innovation and user experience. In addition to expense tracking features, we
        also provide personalized stock market suggestions to help you grow your wealth and achieve your financial goals. With
        Expense Tracker, you can categorize your expenses, set spending targets, and track your progress towards your financial
        goals.
        <br />
        Behind Expense Tracker is a team of dedicated professionals with a passion for finance and technology. With years of
        industry experience and expertise, we're committed to helping you make smarter financial decisions and achieve long-term
        success.
        <br />
        Ready to take control of your finances and unlock your financial potential? Join Expense Tracker today and embark on a
        journey towards a brighter financial future.
    </p>
{% endblock %}