{% extends 'base.html' %}
{% block content %}
<div class="parent-div">
    <div class="menu-1-100832 pos-abs" id="id-395">
        <div class="menu1-0-280350-container pos-abs" id="id-14145">
            <div class="menu-1-8294 pos-abs" id="id-14122">
                <div class="line-8-1-30240 pos-abs" id="id-14109"></div>
                <div class="line-9-1-542724 pos-abs" id="id-14110"></div>
                <div class="line-10-1-273540 pos-abs" id="id-14111"></div>
            </div>
        </div>
        <div class="menu1-0-42108 pos-abs" id="id-14122">
            <div class="line-8-1-372708 pos-abs" id="id-14109"></div>
            <div class="line-9-1-62122 pos-abs" id="id-14110"></div>
            <div class="line-10-1-22880 pos-abs" id="id-14111"></div>
        </div>
        <div class="line-11-0-46250 pos-abs" id="id-1429"></div>
        <div class="ellipse-1-1-185976 pos-abs" id="id-397">
            <div class="nodeBg-397 pos-abs image-div bg-no-repeat fill-parent bg-cover" id="id-bg-397"></div>
        </div>
        
        <div class="rectangle-5-1-458275 pos-abs" id="id-3916"></div>
        <div class="c-1st-page1-0-517320 pos-abs" id="id-144">
            <div class="nodeBg-144 pos-abs image-div bg-no-repeat fill-parent bg-cover" id="id-bg-144"></div>
        </div>
        
        <div class="anupam-kv-1-763584 pos-abs" style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: -50px;margin-left: 10px;" id="id-398">
            <span class="anupam-kv-1-763584-0">{{user}}</span>
        </div>
    </div>
</div>
<script src="scripts.js"></script>
{% endblock %}