{% extends "base.html" %}
{% block content %}
    <h2 class="title">Services</h2>
    <hr />
    <p class="disp-content">
        Expense Tracking: Easily monitor and record your expenses, including purchases, bills, and payments.
        Expense Categorization: Categorize your expenses into different categories such as groceries, transportation, utilities,
        entertainment, etc., for better organization and analysis.
        Budget Management: Set and manage budgets for various expense categories to control spending and achieve financial
        goals.
        <br />
        Goal Setting: Define and track financial goals such as saving for a vacation, paying off debt, or building an emergency
        fund.
        <br />
        Investment Suggestions: Receive personalized investment suggestions tailored to your financial situation, goals, and
        risk tolerance.
        <br />
        Financial Insights: Gain valuable insights into your spending patterns, trends, and habits to make informed financial
        decisions.
        <br />
        Alerts and Reminders: Set up alerts and reminders for upcoming bills, budget limits, or financial milestones to stay on
        top of your finances.
        <br />
        Data Security: Ensure the security of your financial information with robust encryption and privacy measures.
        User Support: Receive assistance and support from a dedicated customer service team for any inquiries, issues, or
        feedback regarding the platform.
    </p>
{% endblock %}